@charset "utf-8";
@import "~bulma/bulma.sass";

.graph-area {
    margin: 0 auto;
    height: 500px;
}

.dropzone {
    border: dashed 1px #a4a4a4;
    min-height: 25px;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}

.dropzone.dropover {
    background-color: #f0f0f0;
    color: rgb(150, 150, 150);
}

.graph-field {
    padding: 3px;
    border: solid 2px #a4a4a4;
    border-radius: 5px;
    margin-bottom: 5px;
}

// .js-plotly-plot .plotly .modebar {
//     left: 60%;
// }
